body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 104, 152);
    color: white;
}

/* Navbar setup */
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: rgb(0, 66, 96);
    padding: 0;
    margin: 0;
    z-index: 2;
}
.nav-ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-list {
    float: left;
}
.nav-button {
    display: block;
    max-width: 200px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15.15px 16px;
}
li a:hover {
    background-color: rgb(0, 51, 75);
}
.active {
    /* Change the color of the active tab */
    background-color: rgb(68, 94, 106);
    color: white;
}



/* page header container */
.header {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
h1 {
    text-align: center;
    padding-top: 10px;
}



/* embedded video container */
.video-body {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    height: 800px;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    text-align: center;
    z-index: 1;
}
iframe {
    border: 0;
    height: 687px;
    width: 1500px;
    padding-top: 56px;
}


/* Bottom text container */
.mainbody {
    position: absolute;
    top: 950px;
    left: 0px;
    right: 0px;
    height: 1000px;
    margin: 0;
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;
    text-align: justify;
    z-index: 1;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.picture {
    /* add space for picture*/
    border: 5px solid white;
    margin-top: 15px;
}

/* Tableau container */
.tableauPlaceholder {
    position:absolute;
    top: 1950px;
    padding: 0;
    margin: 0;
    height: 1000px;
    z-index: 1;
}